@model List<WebApp.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<h3>This is what we have been writing...</h3>

<div class="container">
    <ul class="col-md-8 list-unstyled article-list">
        
        @foreach (var item in Model)
        {
            <li>
                <partial name="~/Views/Articles/articlesSummary.cshtml" model="item" />
            </li>
        }
        
    </ul>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <div class="container-fluid sidebar">
                <div class="row">
                    <a asp-controller="Articles" asp-action="Create" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Write a new Article
                    </a>
                </div>
            </div>
        </div>
    }

</div>